.ln
{
	float: left;
	border-right: 1px solid black;
	width: 50px;
}
.line
{
	clear: both;
	height: 15px;
}
.line.high
{
	background: yellow;
}
#filecontent
{
	float: right;
	width: 1000px;
	height: 600px;
	overflow: auto;
	border: 1px solid black;
}
#file
{
	clear:both;
}